/* Base Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh;
}
.main-content {
  margin-left: 250px; /* Same as sidebar width */
  flex: 1;
  padding: 20px;
}
/* Sidebar Styles */

/* Main Content Styles */
.main-content {
  flex: 1;
  background-color: #ffffff;
  color: #d4d4d4;
  padding: 20px;
}

/* Right Panel Styles */
.right-panel {
  width: 200px;
  background-color: #ececee;
  color: #cccccc;
  padding: 15px;
  border-left: 1px solid #1e1e1e;
}

.right-panel .section {
  margin-bottom: 25px;
}

.right-panel h6 {
  color: #ffffff;
  margin-bottom: 5px;
}

.time-display {
  font-size: 1.2em;
  text-align: center;
  margin-top: 30px;
}